<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    

    <div>
      <h2>This is Category name is <%= @category.name %></h2>
      <% @category.products.each do |product| %>
        <p><%= product.name %></p>
      <% end %>
    </div>
  </div>
</div>
