<div id="add-to-cart" class="w-full flex">
  <% if @current_cart && @current_cart.products.where(id: @product.id).any? %>
    <div class="rounded-lg font-semibold p-4 text-center text-xl bg-gray-400 hover:bg-gray-500 w-full">
      Already in Cart
    </div>
  <% else %>
    <%= form_with url: carts_path, method: :post, local: true do |form| %>
      <%= form.hidden_field :product_id, value: @product.id %>
      <%= form.number_field :quantity, value: 1, min: 1, class: "rounded-lg font-semibold p-4 text-center text-xl bg-gray-400 hover:bg-gray-500 w-full" %>
      <%= form.submit "Add To Cart", class: "rounded-lg font-semibold p-4 text-center text-xl bg-gray-400 hover:bg-gray-500 w-full" %>
    <% end %>
  <% end %>
</div>
