<%# Edit this code %>
<div>
    <ul>
        <li>Product Name: <%= @product.name %></li>
        <li>Price: <%= @product.price %></li>
        <li>Description: <%= @product.description %></li>
    </ul>

    <div data-controller="stripe-checkout" data-stripe-checkout-url="<%= product_buy_now_path(@product) %>">

    </div>
</div>