        <div class="relative" id="cart">
          <%= image_tag("cart.png", class: "w-10 h-10", alt: "Cart") %>
          <% if cart && cart.cart_items.any?%>
          <div class="absolute top-0 right-0 w-4 h-4 bg-red-500 rounded-full text-white text-xs flex items-center justify-center">
            <%= cart.cart_items.count%>
          </div>
          <% end %>
        </div>